{% extends 'layouts/default/base.html.twig' %}
{% block content %}
<br><h2>Connect with a world of economic experts.</h2>

<table width="100%">
    <tr>
        <td width="475" valign="top">
            {% include 'security/login.html.twig' %}
            {% include 'security/register.html.twig' %}
        </td>
        <td valign="top" style="padding-left:10px">			
            <div class="box">
                <h3>Welcome to iSimulate @ World Bank.</h3>
                iSimulate is a free platform for performing economic simulations.  It allows individuals anywhere in the world 
                to access some of The World Bank's macroeconomic models across the internet.<br>
                <center style="margin-top:20px">
                    <img src="{{ asset('images/homepage.gif') }}" alt="Homepage"/>
                    <br clear="all">
                    <div style="margin-top: 15px">
                        <img style="vertical-align:middle; margin-right: 5px" src="{{ asset('images/Search1.gif') }}" alt="Search1"/>
                        <a style="font-size:14px;font-weight:bold" href="{{ path('tour', {'number': 1}) }}">Take A Tour</a>
                    </div>				
                </center>
            </div>	
        </td>
    </tr>	
</table>
{% endblock %}